[submodule "Assets/Code/External/Csg"]
	path = Assets/Code/External/Csg
	url = https://github.com/NoteCAD/Csg.git
[submodule "Assets/Code/External/UnityRuntimeInspector"]
	path = Assets/Code/External/UnityRuntimeInspector
	url = https://github.com/NoteCAD/UnityRuntimeInspector.git
